body {
    background: rgb(192,251,240);
    background: linear-gradient(rgb(0, 153, 153), white, rgb(0, 153, 153));
   
    h1{
        text-align: center;
    }
    

        h3{
            font-size: 1.5rem;
        }
   
    form {
        li {
            list-style-type: none;
        }
    }
    button {
        background-color: transparent;
        border: 1px solid black !important; 
        a {
        color: black;
        }
    }
    button:hover {
        background-color: black;
        color: rgb(0, 153, 153) !important;
        a:hover{
        color: rgb(0, 153, 153);
        }
    }
}