<%- include ("header.ejs") %>
<body>
    <main>
        <h1 class="text-center my-5">Denna sida har skapats av Nina</h1>
        <div class="text-center">
            <button class="btn"><a href="/todolist">Tillbaka</a></button>
        </div>
    </main> 
    <%- include ("footer.ejs") %>