<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>My ToDo-list update NodeJS FED19S Nina</title>
</head>
<body>
    <div class="container">
        <h1>Gör ändringar</h1>
        <form actionn="/todolist" method="post" class="form-inline" id="editForm">
            <div class="form-group my-2">
                <label for="editTask" class="m-1">Ändra uppgift</label>
                <input type="text" class="form-control mr-2" name="todo" id="" value="<%= editRes.todo %>">
            </div>
            <div class="form-group my-2">
                <label for="creator" class="m-1">Ditt namn</label>
                <input type="text" class="form-control mr-2" name="creator" readonly id="" value="<%= editRes.creator %>">
            </div>
            <input type="hidden" name="date" id="<%= editRes._id %>">
            <button type="submit" class="btn btn-dark m-2">Spara ändringar</button>
        </form>  
    </div>
    
</body>
</html>