<%- include ("header.ejs") %>

<body>
    <main>
        <div class="container">
            <div class="d-flex flex-column">
                <% const errmsg = err.message.split(" ").slice(4, 10).join(" ")%>
                <div class="my-3 text-center"><%= errmsg%></div>
                <button class="btn m-4"><a href="/todolist">Tillbaka</a></button>
            </div>
        </div>
    </main>

<%- include ("footer.ejs") %>